* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Courier New', Courier, monospace;
	background: linear-gradient(
		to bottom right,
		hsl(260, 100%, 85%),
		hsl(200, 100%, 80%)
	);
	min-height: 100vh;
}